services:
  db:
    image: postgis/postgis:16-3.4
    container_name: antennes-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  dashboard:
    build: .
    container_name: antennes-dashboard
    depends_on:
      - db
    ports:
      - "8050:8050"
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: ${DB_NAME}
    command: python app.py

volumes:
  postgres_data:
